[Unit]
Description=Start lantern display

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStart=/home/pi/Documents/processing-3.5.3/processing-java --sketch=/home/pi/ces/Lantern-Display/LanternDisplay --run
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=graphical.target
